<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Parser | thejaywhy </title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">

   </head>

   <body>
      <div class="container">
        <h1>Request Header Parser Microservice</h1>
        <p>
        A solution to the <a href="https://www.freecodecamp.org/challenges/request-header-parser-microservice">Request Header Parser MS</a> challenge.
        </p>   
     <h3>Features</h3>
      <ul>
        <li>Get the IP address, language and operating system for my browser.</li>
      </ul>
    <h3>Example Usage</h3>
      <div class="codeblock">
        <pre >
          # navigate to https://jy-fcc-req-header.glitch.me/api/whoami in browser
          {"ipaddress":"1.2.3.4","language":"en-US","os":"macOS Sierra"}
        </pre>
        <pre >
          curl -H 'Accept-Language: en-US;q=0.6,en;q=0.4', https://jy-fcc-req-header.glitch.me/api/whoami
          {"ipaddress":"1.2.3.4","language":"en-US","os":"Curl"}
        </pre>
      </div>
    </div>
   </body>

</html>